<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 record">
      <h1>MENÙ DIGITALE REALIZZATO DA:</h1>
      <h2 class="center-text">
        <a href="https://github.com/Restaurant-Services">Restaurant Services</a>
      </h2>
      <p>
        Questo sito è
        <a href="https://github.com/Restaurant-Services/Menu-Restaurant">Open Source</a>,
        il codice per costruirlo è consultabile gratuitamente ed i membri del team sono molto disponibili.
      </p>
      <p>
        Il team ha cercato di realizzare questo sito in modo che sia:
      </p>
      <ul>
        <li>
          <b>Veloce</b>, il sito è molto performante;
        </li>
        <li>
          <b>Leggero</b>, il sito non ha requisiti minimi per quanto riguarda il server;
        </li>
        <li>
          <b>Ben scritto</b>, il codice del sito è stato scritto per essere molto semplice e chiaro per permettere a
          chiunque, nel rispetto della licenza, di modificarne il codice;
        </li>
        <li>
          <b>Facile</b>, la grafica del sito è intuitiva per i clienti;
        </li>
        <li>
          <b>Personalizzabile</b>, il menù è facile da personalizzare, permette ai ristoratori di farlo senza dover
          studiare nulla di programmazione.
        </li>
      </ul>
      <h1>ICONE REALIZZATE DA:</h1>
      <div *ngFor="let type of recipeTypes" class="record">
        <p class="center-text">
          <mat-icon class="icon-display" svgIcon="{{ type.svg }}" mat-list-icon></mat-icon>
          <span class="space-left">
            <a href="{{ type.getAuthorLink() }}"
               title="{{ type.svgAuthor.name }}">
              {{ type.svgAuthor.name }}
            </a>
            su
            <a href="{{ type.getLink() }}"
               title="{{ type.getServiceName() }}">
              {{ type.getLinkWithoutHTTP() }}
            </a>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
