<mat-toolbar color="primary" class="header-height">
  <mat-toolbar-row>
    <mat-icon (click)="showHideMenu()">menu</mat-icon>
    <span (click)="showHideMenu()" class="after-mat-icon">ZUMI</span>
    <span class="flex-expand"></span>
    <span (click)="showSummary()">RIEPILOGO</span>
    <span class="flex-expand"></span>
    <span (click)="showCreditsOrCookies()">
      <table>
        <tr>
          <td>
            <span class="center-text">CREDITS</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="center-text">COOKIES</span>
          </td>
        </tr>
      </table>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
