<app-dashboard *ngIf="!type"></app-dashboard>
<app-credits *ngIf="type && type.id === -3"
             [showCredits]="type !== null"></app-credits>
<app-cookies *ngIf="type && type.id === -2"></app-cookies>
<app-summary *ngIf="type && type.id === -1"
             [orderArray]="orders"
             (orderEmit)="updateOrders($event)"></app-summary>
<app-matrix *ngIf="type && type.id > -1"
            [recipes]="recipes"
            [selectedRecipeType]="type"
            [orderArray]="orders"
            (ordering)="updateOrder($event)"></app-matrix>
