<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 record">
      <h1>COOKIES</h1>
      <h2>Cosa sono i Cookies?</h2>
      <p>
        I Cookies sono file non dannosi, utili per identificare il browser, il programma o l'app che utilizzate per
        navigare, ma non l'individuo che possiede o che utilizza il dispositivo.
        <br>
        In Italiano i Cookies vengono chiamati al plurale nonostante dovremmo chiamarli al singolare proprio per la
        grande quantità, sono tantissimi e quasi tutte le pagine web li utilizzano.
        <br>
        Il termine inglese Cookies significa biscotti, proprio perché è maleducazione rifiutare dei biscotti durante il
        tradizionale Tea Time (ora del tè) inglese, o almeno lo è secondo i programmatori di Netscape, ma questa è una
        storia che risale al 1994.
      </p>
      <h2>A cosa servono?</h2>
      <p>
        Servono per salvare una singola informazione, che sia una parola (sequenza di caratteri) o un numero.
        <br>
        Oltre all'informazione, i Cookies ricordano anche il sito di provenienza, ricordandosi il nome del sito, cioè,
        quello che si legge in alto sulla barra di ricerca che utilizzate per navigare.
      </p>
      <h2>Un esempio concreto?</h2>
      <p>
        Andate sulle impostazioni del Vostro browser e cancellate tutti i Cookies (fatevi aiutare),
        aprite il Vostro Social Network preferito, come Facebook o Instagram ed ignorate il banner (la striscia) che vi
        avviserà dei cookie, evitate di toccarla.
        <br>
        Fate il login con il Vostro nome utente e la Vostra password, poi chiudete il browser o la scheda ed aprite
        nuovamente il Social Network che avete scelto per questo esperimento, come potete notare vi chiederà nuovamente
        di rifare il login, <u>non si ricorda di voi</u>!
        <br>
        Infatti, i Cookies salvano un'informazione sola, in genere è un numero casuale per identificare il Browser
        utilizzato e rendere più veloce l'accesso e l'utilizzo.
      </p>
      <h2>Qual è l'obiettivo dei Vostri Cookies?</h2>
      <p>
        Noi generiamo esattamente 2 Cookies, il primo si ricorda del Vostro consenso, il secondo vi attribuisce un
        numero, il secondo Cookie ha una scadenza di 24 ore.
        <br>
        Questo sito è in costruzione, lo scopo del secondo Cookie sarebbe quello di salvare i Vostri ordini nel Database
        senza sapere a chi appartengono per garantire un servizio migliore e garantire la Vostra privacy al 100%.
        <br>
        <b>MA</b> questo sito è perfettamente funzionante anche senza un Database, attualmente questo sito è
        <u>predisposto ma sprovvisto</u> di un Database (infatti è un'applicazione Backend-less).
      </p>
      <h2>Cookie Analitici</h2>
      <p>
        Ci sono alcuni cookie che servono per identificare temporaneamente il Vostro browser (non voi) con lo scopo di
        fare analisi statistiche sulle scelte fatte, che siano analisi interne o per conto di servizi terzi, semplici
        analisi anonime sprovviste di nomi e cognomi.
        <br>
        Noi <b>NON</b> utilizziamo alcun servizio analitico interno o esterno, non sono di nostro interesse.
      </p>
      <h2>Posso disattivare i Cookies sul mio Browser?</h2>
      <p>
        Questa scelta è possibile e per noi è attualmente ininfluente!
        <br>
        Ma sarebbe un peccato disattivare i Cookies, sono utilissimi e vi garantiscono un'esperienza di navigazione
        migliore, in futuro questo sito potrebbe avere funzionalità extra legate ai Cookies!
        <br>
        Quindi siete liberi di farlo, ma noi ve lo sconsigliamo.
      </p>
      <h4 class="text-right">
        Il team di
        <a href="https://github.com/Restaurant-Services">Restaurant Services</a>
      </h4>
    </div>
  </div>
</div>
