<mat-card>
  <ng-container *ngIf="menuItem.code">
    <p class="center-text">
      {{ menuItem.name }}
    </p>
    <img [src]="menuItem.png"
         width="200em"
         height="100em"
         class="space">
  </ng-container>
  <ng-container *ngIf="!menuItem.code">
    <table class="table-title">
      <tr>
        <td>
          <h3 class="center-text">
            {{ menuItem.name }}
          </h3>
        </td>
      </tr>
    </table>
    <p class="center-text">
      {{ menuItem.description }}
    </p>
  </ng-container>
  <table class="table-buttons space">
    <tr>
      <td class="table-buttons-elem">
        <button type="button"
                class="btn btn-primary float-l"
                (click)="plus1()">
          <mat-icon>exposure_plus_1</mat-icon>
        </button>
      </td>
      <td class="table-buttons-space"></td>
      <td class="table-buttons-elem">
        <p class="center-text no-margin">QUANTITÀ</p>
        <p class="center-text no-margin" [innerText]="qty.toString(10)"></p>
      </td>
      <td class="table-buttons-space"></td>
      <td class="table-buttons-elem">
        <button type="button"
                class="btn btn-danger float-r"
                (click)="minus1()">
          <mat-icon>exposure_neg_1</mat-icon>
        </button>
      </td>
    </tr>
  </table>
  <p>
    <span class="float-l">
      Codice {{ menuItem.code }}
    </span>
    <span class="float-r">
      {{ menuItem.pieces ? '(' + menuItem.pieces + ' pz) ' : '' }}
      {{ menuItem.price.toFixed(2).replace('.', ',') + ' €' }}
    </span>
  </p>
  <br>
</mat-card>
