.table-title {
  width: 14em;
  height: 7em;
}

.table-buttons {
  width: 100%;
}

.table-buttons-elem {
  width: 33%;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.table-buttons-space {
  width: 0.5%;
}

.no-margin {
  margin: 0 0 0 0;
}
