<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 record">
      <h1>ZUMI RESTAURANT</h1>
      <h2>Promozioni in corso</h2>
      <p>
        <b>ALL YOU CAN EAT</b>: Al tavolo potete ordinare tutto quello che riuscirete a mangiare pagando un prezzo
        fisso (dolci e bevande non sono inclusi), si consiglia di fare tanti piccoli ordini, <u>vietati gli sprechi</u>!
      </p>
      <p>
        <b>ASPORTO</b>: Tutti gli acquisti da asporto sono scontati del 20%, per grandi ordini sono previsti sconti
        maggiori!
      </p>
      <h2>Menù online</h2>
      <p>
        Questo è un menù online, l'ordine va trascritto su uno dei fogli presenti sul tavolo e consegnato al cameriere.
      </p>
      <p>
        Non c'è alcun sistema di salvataggio/invio/recupero dati, non possiamo sapere nulla su di voi, neanche
        il <u>vostro</u> ordine.
      </p>
      <h2>Note</h2>
      <p>
        Le modifiche sono previste nella sezione RIEPILOGO, cliccando/toccando il campo note della riga relativa al
        piatto che si vuole personalizzare.
      </p>
    </div>
  </div>
</div>
