<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 record">
      <h1>ZUMI RESTAURANT</h1>
      <h2>Promozioni in corso</h2>
      <p *ngFor="let promo of promos">
        <b>{{ promo.name }}</b>:
        <ng-container *ngFor="let subtext of promo.text">
          <b *ngIf="subtext.style === 0">{{ subtext.text }}</b>
          <u *ngIf="subtext.style === 1">{{ subtext.text }}</u>
          <i *ngIf="subtext.style === 2">{{ subtext.text }}</i>
          <ng-container *ngIf="subtext.style === 3">{{ subtext.text }}</ng-container>
        </ng-container>
      </p>
      <h2>Menù online</h2>
      <p>
        Questo è un menù online, l'ordine va comunicato al personale.
      </p>
      <p>
        Non c'è alcun sistema di salvataggio/invio/recupero dati, non possiamo sapere nulla su di voi, neanche
        il <u>vostro</u> ordine.
      </p>
      <h2>Note</h2>
      <p>
        Le modifiche sono previste nella sezione RIEPILOGO, cliccando/toccando il campo note della riga relativa al
        piatto che si vuole personalizzare.
      </p>
    </div>
  </div>
</div>
