<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 mat-dialog-title>{{ data.name }}</h1>
    </div>
  </div>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="text" [innerText]="data.description"></p>
      </div>
    </div>
    <ng-container *ngIf="data.allergens.length > 0">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h2 class="center-text">Allergeni e Caratteristiche</h2>
        </div>
      </div>
      <div *ngFor="let allergen of data.allergens" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p class="text" [innerText]="allergen.name"></p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="data.optionalIngredients.length > 0">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h2 class="center-text">Ingredienti opzionali</h2>
        </div>
      </div>
      <div *ngFor="let ingredient of data.optionalIngredients" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label>
            <input type="checkbox"
                   class="form-check-input scale space-r"
                   [checked]="true"
                   disabled>
          </label>
          <span class="text" [innerText]="ingredient.name"></span>
        </div>
      </div>
    </ng-container>
  </div>
  <div mat-dialog-close>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="f-r">
          <button *ngIf="false"
                  type="button"
                  class="btn btn-primary mat-button space-r"
                  (click)="save()">
            SALVA
          </button>
          <button type="button"
                  class="btn btn-danger mat-button"
                  (click)="close()">
            CHIUDI
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
