<mat-sidenav-container class="example-container body-height" autosize>
  <mat-sidenav mode="side" opened="true"
               (mouseenter)="mouseenter()"
               (mouseleave)="mouseleave()"
               class="example-sidenav">
    <mat-nav-list>
      <mat-list-item *ngFor="let type of recipeTypes"
                     (click)="changeRecipeType(type)">
        <mat-icon class="icon-display" svgIcon="{{ type.svg }}"></mat-icon>
        <span *ngIf="isExpanded || isShowing" class="full-width">
          {{ type.name }}
        </span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div class="example-sidenav-content">
    <app-body [type]="selectedType"></app-body>
  </div>
</mat-sidenav-container>
