/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1, .center-text {
  text-align: center;
}

.header-height {
  height: 11%;
}

.body-height {
  height: 89%;
}

.center-content {
  align-content: center;
}

.center-vertical {
  vertical-align: center;
}

.icon-display {
  transform: scale(2);
}

.flex-expand {
  flex: 1 1 auto;
}

.margin-vertical-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.margin-horizontal-auto {
  margin-left: auto;
  margin-right: auto;
}

/*
.flexSpaceBetween {
  justify-content: space-between;
}
*/

.record {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.space {
  margin-bottom: 1em;
}
