<h1 class="center-text">
  {{ selectedRecipeType.displayName }}
</h1>
<mat-grid-list [cols]="innerWidth / 350"
               rowHeight="20em"
               gutterSize="0.5em">
  <ng-container *ngFor="let recipe of recipes">
    <mat-grid-tile *ngIf="recipe.type.id === selectedRecipeType.id"
                   colspan="1"
                   rowspan="1">
      <app-menu-item [menuItem]="recipe"
                     [qty]="getTotQty(recipe)"
                     (ordering)="reEmit($event)"></app-menu-item>
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>
